<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


        <!-- meta data & title -->
        <meta charset="utf-8">
        <title>Ils ont vue mon site</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Favicon et touche icones -->
        <link rel="icon" href="../image/cdiAfpa.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomposed.png">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../css/font-awesome.min.css">   <!-- les icones des cubes-->
        <link rel="stylesheet" href="../css/animate.min.css">
        <link rel="stylesheet" href="../css/style.css">
        
    </head>
  <body>

    <!-- Header -->
        
<div th:insert="~{Menu:: copyMenu}"></div>
    <!-- End Header -->
 <button id="Anonyme" onClick="filtre()" >sup anonyme</button>
<!--<input type="button" id="myInput" onClick="filtre()" value="Anonyme">  -->
		<table id="dtBasicExample"
		class="table table-striped table-bordered table-md" cellspacing="0"
		width="100%">
		<thead class="thead-dark">
			<tr>
				<th>Nom</th>
				<th>Societe</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="login : ${listeLogin}">
				<td th:utext="${login.nom}">...</td>
				<td th:utext="${login.societe}">...</td>
		</tr>
		</tbody>
<!-- 		fin personnaliser -->
		<tfoot class="thead-dark">
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>

			</tr>
		</tfoot>
	</table>
<!-- fin #services-section -->
	<script src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script src="bootstrap/jsp/bootstrap.min.js"></script>
	<script>
function filtre() {
	
  // Declaration des variables
  var filter, table, tr, td, i, txtValue;
//ajout du mot Anonyme en majuscule due au "toUppercase" plus bas
  filter = 'ANONYME';
//recupere toute les information de la table via "id" (voir balise html "table")
  table = document.getElementById("dtBasicExample")
  //recupere les informations de "tr" ( balise html)
  tr = table.getElementsByTagName("tr");

  //Parcoure toute la table et masque celles qui correspondent à Anonyme
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "none";
      } else {
        tr[i].style.display = "";
      }
    }
  }
}
</script>
	<script>
		new WOW().init();
	</script>
</body>
</html>